<section ng-controller="todoListController">
<h1>Listing todo_lists</h1>

<table>
  <thead>
    <tr>
      <th>List</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <input type="text" placeholder="Add a new task here" ng-model="newList" />
  <button ng-click="addTask()">Add</button>

  <tbody>
      <tr ng-repeat="todoList in todoLists">
        <td >{{ todoList.list }}</td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Todo list', new_todo_list_path %>
</section>
