<section ng-controller="todoListController">
<h1>Listing todo_lists</h1>

<table>
  <thead>
    <tr>
      <th>List</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <input type="text" placeholder="Add a new task here" ng-model="newList" />
  <button ng-click="addTask()">Add</button>

  <tbody>
      <tr ng-repeat="todoList in todoLists">
        <td class={{checkbox}}><input type="checkbox" ng-model='checkbox'
                                    ng-true-value="'finished'"
                                    ng-false-value="'unfinished'"
                                    ng-click="completeTask()">{{ todoList.list }}</td>
        </tr>
    </tbody>
  </table>

  </section>
